# Ignore virtual environment
.venv-1/
venv/
env/

# Ignore synthetic data
data/
datasets/
dicom/
*.dcm

# Ignore SD model weights
models/
*.ckpt
*.safetensors

# Ignore Python cache
__pycache__/
*.pyc
